body {
	background-color:black;  
	font-family="Ubuntu, Sans-Serif"
	color:white;
	margin: auto;
	position: relative;
	width: 960px;
}

/* uncomment and fix the append line to put form in right place. */
.treemapper {
    line-height:30px;
    background-color:white;
    height:800px;
    width:1000px;
    float:center;
	padding:5px;


form {
	position: absolute;
	left: 10px;
	top: 10px;
	background-color:white;
}

/*  Putes white border around treemap pieces and sets text info */
.node {
	border: solid 1px white;
	font: 10px sans-serif;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	text-indent: 2px;
}


}