body {
	background-color:black;  */
	font-family="Ubuntu, Sans-Serif"
	color:white;
	margin: auto;
	position: relative;
	width: 960px;
}

p {
	color:white;
}

form {
/*	position: absolute; */
	left: 10px;
	top: 10px;
	background-color:white;
	width: 200px;
}

/*  Putes white border around treemap pieces and sets text info */
.node {
	border: solid 1px white;
	font: 10px sans-serif;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	text-indent: 2px;
}


}