body {
	background-color:black;
}
#leftcol {
	background-color:Gray;
	color:black;
	font-weight:bold;
	text-align: right;
	font-size:1.5em;
}
#rtcollight {
	background-color:White;
	color:black;
	text-align: left;
	font-size:1.17em;
}
#rtcoldark {
	background-color:Lightgray;
	color:black;
	text-align: left;
	font-size:1.17em;

}